<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--IOC创建对象的方式-->

    <!--1.下标赋值-->
    <bean id="user1" class="com.wang.pojo.User">
        <constructor-arg index="0" value="下标赋值"/>
    </bean>

    <!--2.类型赋值-->
    <bean id="user2" class="com.wang.pojo.User">
        <constructor-arg type="java.lang.String" value="类型赋值"/>
    </bean>

    <!--3.参数名赋值-->
    <bean id="user3" class="com.wang.pojo.User">
        <property name="name" value="王冰炜"/>
    </bean>

</beans>