<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    使用Spring来创建对象,在Spring中这些称为Bean

    id = 变量名
    class = new 的对象
    property = 给对象设置的属性

    控制反转：关键在于谁来控制对象的创建
    传统方式为程序本身来控制创建对象，现在是由Spring来创建

    所谓IoC即：对象由Spring来创建，管理，装配
    -->
    <bean id="hello" class="com.wang.pojo.Hello">
        <property name="str" value="Spring"/>
        <!--通过set方法来注入-->
    </bean>

</beans>